#gengarName{
    color: purple;
    font-family: 'Arial Narrow Bold';
    text-align: left;
    margin-left: 1rem;
}

#cinderaceName{
    color: rgb(255, 85, 0);
    font-family: 'Arial Narrow Bold';
    text-align: left;
    margin-left: 1rem;
    margin-top: 4rem;
}