.App {
  text-align: center;
  color: #5a0035;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 20rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container{
  position: relative;
  min-height: 100vh;
}

#logo{
  text-align: center;
  color: #ffffff;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#sublogo{
  text-align: center;
  font-family: cursive;
  font-size: medium;
  color: #282c34;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#header{
  background: linear-gradient(to bottom, red, white);
  text-align: justify;
  position: fixed;
  top: 0;
  width: 100%;
  height: 9 rem;
  margin-bottom: 10rem;
  border: 3px solid black;
}


#menu{
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: #000000;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#menu li{
  padding: 1%;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: inline;
}

#menu li a{
  text-decoration: none;
  color: inherit;
}

#menu li:hover{
  padding-bottom: 0.4em;
  border-bottom: 0.3em solid #5a0035;
  font-weight: bold;
  display: inline;
}
#PokemonGengarAndCinderace p{
  width: 15rem;
  height: 10%;
  text-align: center;
  margin-top: 14rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  border: 5px solid #5a0035;
}

#PokemonGengarAndCinderace p img{
  width: 15rem;
  height: 10%;
  text-align: center; 
  background-color: #5a0035;
  margin-bottom: 1rem;
}

#footer{
  background: linear-gradient(to top, red, white);
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer p{
  text-align: center;
  color: #000000;
  font-size: large;
  padding: 1px 10px;
  font-style: italic;
}

#footer p img{
  width: 20px;
  height: 20px;
}